.ai_Policy{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.ai_Policy-heading{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
}
.ai_Policy-heading h1{
    font-size: 62px;
    line-height: 63px;
    font-weight: 800;
    font-family: var(--font-family);
}
.ai_Policy-container{
    flex: 0.8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.ai_Policy-container_feature{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 1rem;
}
.ai_Policy-container_feature-text{
    max-width: 450px;
    display: flex;
}
.ai_Policy-container_feature-text p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #393E46;
}
@media screen and (max-width: 550px){
    .ai_Policy-container_feature-title h1{
        font-size: 14px;
        line-height: 20px;
        max-width: 19px;
    }
    .ai_Policy-container_feature-text p{
        font-size: 12px;
        line-height: 20px;
    }
}
@media screen and (max-width: 990px){
    .ai_Policy{
        flex-direction: column;
    }
    .ai_Policy-heading{
        margin: 0 0 2rem 0;
    }
}
@media screen and (max-width: 550px){
    .ai_Policy-heading h1{
        font-size: 28px;
        line-height: 38px;
    }
}