.ai_header{
    display: flex;
    flex-direction: row;
}
.ai_header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}
.ai_header-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}
.ai_header-content p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* color: var(--color-text); */
    color: #222831;
    margin-top: 1.5rem;
}
.ai_header-content_input{
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
    flex-direction: row;
}
.ai_header-content_input input{
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* background: var(--color-footer); */
    background: #393E46;
    /* border: 2px solid var(--color-footer); */
    border: 2.5px solid #F4620F;
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.ai_header-content_input button{
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #F4620F;
    border: 2px solid #F4620F;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ai_header-content_people{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 0rem;
}
.ai_header-content_people p{
    margin: 0 0 0 0rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}
.ai_header-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ai_header-image img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1050px) {
    .ai_header {
        flex-direction: column;
    }
    .ai_header-content {
        margin: 0 0 3rem;
    }
}
@media screen and (max-width: 650px){
    .ai_header-content h1{
        font-size: 48px;
        line-height: 60px;
    }
    .ai_header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    .ai_header-content_input input,
    .ai_header-content_input button{
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (max-width: 490px){
    .ai_header-content h1{
        font-size: 36px;
        line-height: 48px;
    }
    .ai_header-content p{
        font-size: 14px;
        line-height: 24px;
    }
    .ai_header-content_input input,
    .ai_header-content_input button{
        font-size: 12px;
        line-height: 16px;
    }
}